.container-fluid{
	padding: 0px 50px;
}
header{
	background-image: url("cover.jpg");
	background-size: cover;
	height: 340px;
	background-position-x: 50%;
	position: relative;
}
.navbar-fixed-bottom{
	  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 6px;

}