img{
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}
div{
	padding: 0px 10px 10px 10px;
}
h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700px;
	color: #888;
}
h5{
	text-transform: uppercase;
	margin: 5px 0px;
	font-size: 11px

}
h3{
	text-transform: uppercase;
	margin: 5px 0px;
	font-size: 18px;
	font-weight: 700;
}
.btn-search{
	margin-top: -10px;
}
.content{
	top: 30%;
	left: 20px;
	right: 20px;
	position: absolute;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
}
.overlay{
	position:relative;
}
.over{
	color: #fff;
}
a:hover{
	text-decoration: none;
	color: #006DCC;
}

h5 a{
	color: #000;
}
h3 a{
	color: #000;
}
a{
	color: #aaa;
}
.heading{
	font-size: 20px;
}
.progress{
	padding: 0px;
}
h4{
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	padding-top: 40px;
	color: #888;
}
h4 + p{
	padding: 10px 0px;
	font-size: 16px;
	font-family: sans-serif;
}
.btn-info{
	padding: 5px 20px;
	margin: 0px 10px;
}
.pool{
	border-left: 1px dashed #aaa;
}
.btn-pool{
	padding: 5px 10px;
}
.rec_art{
	width: 570px;
	height: 219.18px;
}
#swap1{
	display:block;
}
#swap2{
	display:none;
}
#myCarousel2 .carousel-indicators li{
	border:1px solid #000;
}
#myCarousel3 .carousel-indicators li{
	border:1px solid #000;
}
.carousel-indicators{
	bottom: 0px;
}
.carousel-indicators li:hover{
	background: #006DCC;
}
.carousel-indicators .active{
	background: #006DCC;
}

.overlay{
	color: #fff ;
	font-weight: bold;
	position: absolute;
	bottom: 40px;
	text-align: center;
	left: 0px;
	z-index: 10000000;
	background: rgba(0,0,0,0.3);
	display: table-cell;	
	vertical-align: middle;
	height: 30% !important;

}
.overlay .datentime .desc{
	color: #fff;
	font-weight: bold;	
}
.overlay .datentime .desc:hover{
	color: #006DCC;
}
.overlay h1{
	font-size: 40px;
	font-weight: 700;
	margin: 0px 70px 30px;
}
.overlay p{
	margin: 10px 0px;
}
.item{
	display: table;
}
.carousel-control{
	top: 50%;
	z-index: 1000;
	background: none !important;
}
.image-slider{
	margin-bottom: 20px !important;

}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	width: 421.71px;
	height: 310px;
}
